<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="example-avatar-image"></div>
        <mat-card-title>Peacock</mat-card-title>
        <mat-card-subtitle>Feather</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/Krishna.jpg">
    <mat-card-content>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button>Like</button>
        <button mat-raised-button>Share</button>
    </mat-card-actions>
</mat-card>
    