<div class="todo-container">
  <h2>Todo List</h2>
  <form (ngSubmit)="addTodo()">
    <input
      type="text"
      name="newTodoTitle"
      placeholder="Add a todo"
      [(ngModel)]="newTodoTitle"
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <ul>
    <li *ngFor="let todo of todo$">
      <input
        type="checkbox"
        [checked]="todo.completed"
        (change)="toggleTodo(todo.id)"
        class="form-control"
      />
      <span [ngClass]="{ completed: todo.completed }">{{ todo.title }}</span>
      <button (click)="removeTodo(todo.id)" class="btn btn-danger">
        Remove
      </button>
    </li>
  </ul>
</div>
