<app-angular-lifecycle [value]="parentValue"></app-angular-lifecycle>
<button (click)="parentValue = 'New value from parent'">Update from parent</button>

<app-pipe></app-pipe>
<app-view></app-view>

<!--Custom Directive Example-->
<p appHighlight>Hover over this text to see the effect.</p>
<button appToggle style="padding: 10px;">
    Click me to toggle border color!
</button>

<!---Angular Lifecycle Counter Example-->
<div style="text-align: center;">
    <h1>Angular Lifecycle Hooks Example</h1>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="add()">Add</button>
    <app-lifecycle-counter-example *ngIf="isVisible" [myCounter]="counter" [secondValue]="secondValue" [numbers]="numbers">
        Hello this is coming from parent component content projection
    </app-lifecycle-counter-example>
    <button (click)="setVisibility()">show/hide</button>
</div>