<h5 class="m-2">Built-in Pipes</h5>
<div class="m-2">
    <h6>Using Currency Pipe</h6>
    <p>Price : {{price | currency}}</p>
    <p>Price : {{price | currency : 'EUR' : 'symbol' : '4.2-2'}}</p>
    <p>Price : {{price | currency : 'INR' : 'symbol' : '2.2-3'}}</p>
</div>
<div class="m-2">
    <h6>Using Date Pipe</h6>
    <p>Current Date : {{currentDate | date}}</p>
    <p>Current Date : {{currentDate | date : 'fullDate'}}</p>
    <p>Current Date : {{currentDate | date : 'shortDate'}}</p>
    <p>Current Date : {{currentDate | date : 'shortTime'}}</p>
    <p>Current Date : {{currentDate | date : 'fullTime'}}</p>
    <p>Current Date : {{currentDate | date : 'full'}}</p>
    <p>Current Date : {{currentDate | date : 'short'}}</p>
    <p>Current Date : {{currentDate | date : 'a'}}</p>
    <p>Current Date : {{currentDate | date : 'z'}}</p>
    <p>Current Time : {{currentDate | date : 'h:mm:ss'}}</p>
</div>
<div class="m-2">
    <h6>Using JSON Pipe</h6>
    <pre>JSON Data : {{person | json}}</pre>
    <pre>JSON DATA : {{pobj | json}}</pre>
</div>
<div class="m-2">
    <h6>Using LowerCase & UpperCase Pipe</h6>
    <p>Original String : {{myString}}</p>
    <p>LowerCase String : {{myString | lowercase}}</p>
    <p>UpperCase String : {{myString | uppercase}}</p>
</div>
<div class="m-2">
    <h6>Using Percent Pipe</h6>
    <p>Original number : {{myNumber}}</p>
    <p>Percentage value : {{myNumber | percent}}</p>
</div>
<div class="m-2">
    <h6>Using Slice Pipe</h6>
    <p>Original Array : {{myArray}}</p>
    <p>Sliced Array : {{myArray | slice:1:4}}</p>
    <p>Sliced String : {{myString | slice:3:20}}</p>
</div>
<div class="m-2">
    <h6>Using TitleCase Pipe</h6>
    <p>Transformed String : {{myString | titlecase}}</p>
</div>
<div class="m-2">
    <h6>Using AsyncPipe with Observable</h6>
    <p>{{myObservable | async}}</p>
    <h6>Using AsyncPipe with Promise</h6>
    <p>{{myPromise | async}}</p>
</div>

<!--Create a chaining pipe-->
<div class="m-2">
    <h6>Chaining pipe using date and uppercase pipe</h6>
    <p>Long Date (uppercase) : {{currentDate | date:'fullDate' | uppercase}}</p>
</div>

<!-- Custom Pipes -->
<app-custom-pipes></app-custom-pipes>