<!-- <button routerLink="a">Lazy Module A</button>
<button routerLink="b">Lazy Module B</button>
<router-outlet></router-outlet> -->

<!-- <app-template-driven-form></app-template-driven-form> -->
 <!-- <app-reactive-form></app-reactive-form> -->
  <!-- <div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a href="/" class="navbar-brand">Register</a>
        <a href="/display" class="navbar-brand">Diplay User</a>
    </nav>
  </div>
 <router-outlet></router-outlet> -->
 <app-operator></app-operator>