<!-- Example of Structural Directives-->
<!-- <app-structural-example></app-structural-example> -->

<!--Example of Attribute Directives-->
<!-- <app-attribute-directives></app-attribute-directives> -->

<!--Example of Custom directives-->
<!-- <app-custom-directives></app-custom-directives> -->

<!--Example of Pipes-->
<!-- <app-pipes></app-pipes> -->

<!--Example of DI-->
<!-- <h1>Angular Dependency Injection</h1>
<app-emp-info></app-emp-info>

<p>{{title}}</p>
<p>{{num}}</p> -->

<!-- <button (click)="incrementCounter()">Increment Counter</button>
<p>{{counter}}</p> -->

<!-- <app-binding-example></app-binding-example> -->

<!-- <p>{{messages}}</p> -->

<h2>Task List</h2>
<app-child *ngFor="let t of tasks" [task]="t" (taskDeleted)="deleteTask(t)"></app-child>