<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="regForm" (ngSubmit)="onRegister()">
                <div class="md-3">
                    <label for="username" class="form-label">Username :</label>
                    <input type="text" formControlName="username" id="username" class="form-control"/>
                    <div *ngIf="regForm.get('username')?.touched && regForm.get('username')?.invalid">
                        <small class="text-danger">username is required.</small>
                    </div>
                </div>
                <div class="md-3">
                    <label for="password" class="form-label">Password :</label>
                    <input type="password" formControlName="password" id="password" class="form-control" />
                    <div *ngIf="regForm.get('password')?.touched && regForm.get('password')?.invalid">
                        <small class="text-danger">password is required (min 8 characters).</small>
                    </div>
                </div>
                <div class="md-3">
                    <label for="confirmPassword" class="form-label">Password :</label>
                    <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" />
                    <div *ngIf="regForm.get('confirmPassword')?.touched && regForm.get('confirmPassword')?.invalid">
                        <small class="text-danger">confirm password is required.</small>
                    </div>
                    <div *ngIf="regForm.errors?.['mismatch'] && regForm.get('confirmPassword')?.touched">
                        <small class="text-danger">Passwords do not match.</small>
                    </div>
                </div>
                <button type="submit" [disabled]="regForm.invalid" class="btn btn-primary w-100" style="margin-top: 10px;">Register</button>
            </form>
            <div class="mt-3 text-center">
                <p>Already have an account? <a routerLink="/login" class="text-decoration-none">Login here</a></p>
            </div>
        </div>
    </div>
</div>