<div>
    <h3>RxJS Creation Operators</h3>
    <button #clickMe>Click Me</button>
    <ul>
        <li><strong>of & map:</strong> {{ of$ }}</li>
        <li><strong>from & map:</strong> {{ from$ }}</li>
        <li><strong>interval:</strong> {{ interval$ }}</li>
        <li><strong>timer:</strong> {{ timer$ }}</li>
        <li><strong>fromEvent:</strong> {{ fromEvent$ }}</li>
    </ul>
    <h3>RxJS Transformed Operators</h3>
    <ul>
        <li><strong>mergeMap:</strong> {{ results }}</li>
        <li><strong>switchMap:</strong> {{ latestValue }} </li>
        <li><strong>concatMap:</strong> {{ concatValue }} </li>
    </ul>
</div>