<h3 style="text-align: center;">Toggle Example</h3>

<div class="animation-container">
    <button mat-raised-button class="m-3" type="button" (click)="toggle()">Toggle Open/Close</button>
    <div [@openClose]="isOpen ? 'open' : 'closed'" class="box">
        <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
    </div>
</div>

<div class="animation-container">
    <button mat-raised-button class="m-3" type="button" (click)="activeToggle()">Active/Inactive Toggle</button>
    <div [@slideStatus]="status" class="box">
        <p>Status: {{ status }}!</p>
    </div>
</div>