<ngx-skeleton-loader count="5" appearance="circle" [theme]="{background: 'seagreen', height:'50px'}"
    animation="pulse" />
<ngx-skeleton-loader [theme]="{background: 'lightblue'}" />
<ngx-skeleton-loader [theme]="{height: '50px', background: 'pink'}" />

<h2>Skeleton loader examples</h2>
<p>Circles with different animations - Progress, Progress Dark, and Pulse:</p>
<ngx-skeleton-loader count="1" appearance="circle"></ngx-skeleton-loader>
<ngx-skeleton-loader
  count="1"
  appearance="circle"
  animation="progress-dark"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  count="1"
  appearance="circle"
  animation="pulse"
></ngx-skeleton-loader>