<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="md-3">
                    <label for="username" class="form-label">Username :</label>
                    <input type="text" id="username" formControlName="username" class="form-control"/>
                    <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
                        <small class="text-danger">Username is required.</small>
                    </div>
                </div>
                <div class="md-3">
                    <label for="password" class="form-label">Password :</label>
                    <input type="password" id="password" formControlName="password" class="form-control" />
                    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                        <small class="text-danger">Password is required (min 8 chracters).</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100" style="margin-top: 10px;" [disabled]="loginForm.invalid">Login</button>
            </form>
                <div class="mt-3 text-center">
                    <p>Don't have an account? <a routerLink="/register" class="text-decoration-none">Register here</a></p>
                </div>
        </div>
    </div>
</div>