<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" matInput [formControl]="fruitControl" [matAutocomplete]="auto" placeholder="Choose a fruit">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{ fruit }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-slide-toggle>Toggle</mat-slide-toggle>
    <div>
        <button mat-button matBadge="9" matBadgeColor="warn" matBadgeOverlap="false" matBadgePosition="below" matBadgeSize="small">
            Notifications
        </button>
    </div><br>
    <div>
        <mat-icon matBadge="3">Notifications</mat-icon>
    </div>
</form>